## Model Training

#### 1.1 Import Data and Required Packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [ ]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings
# classification model
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.svm import SVC

In [ ]:
%pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.12/dist-packages (1.2.8)
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.0.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from catboost) (1.16.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (3.2.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->catboost) (8.5.0)

#### Import the CSV Data as Pandas DataFrame

In [ ]:
df = pd.read_csv('train.csv')
kgl_test=pd.read_csv('test.csv')

#### Show Top 5 Records

In [ ]:
kgl_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

HANDLING MISSING VALUE FOR TRAINING DATA

In [ ]:
# Fill Age with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill Cabin with most frequent value (mode)
df['Cabin'].fillna(df['Cabin'].mode()[0], inplace=True)

# Fill Embarked with most frequent value (mode)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Check if missing values remain
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

/tmp/ipython-input-3686183194.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-3686183194.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(df['Cabin'].mode()[0], inplace=True)
/tmp/ipython-input-3686183194.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

HANDLING MISSING VALUE KAGGAL TEST DATASET

In [ ]:
# Fill Age with mean
kgl_test['Age'].fillna(kgl_test['Age'].mean(), inplace=True)

# Fill Cabin with most frequent value (mode)
kgl_test['Cabin'].fillna(kgl_test['Cabin'].mode()[0], inplace=True)

# Fill Embarked with most frequent value (mode)
kgl_test['Embarked'].fillna(kgl_test['Embarked'].mode()[0], inplace=True)

# Fill Fare with most frequent value (mode)
kgl_test['Fare'].fillna(kgl_test['Fare'].mode()[0], inplace=True)

# Check if missing values remain
print(kgl_test.isnull().sum())

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

/tmp/ipython-input-3282399711.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kgl_test['Age'].fillna(kgl_test['Age'].mean(), inplace=True)
/tmp/ipython-input-3282399711.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kgl_test['Cabin'].fillna(kgl_test['Cabin'].mode()[0], inplace=True)
/tmp/ipython-input-3282399711.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kgl_test['Embarked'].fillna(kgl_test['Embarked'].mode()[0], inplace=True)
/tmp/ipython-input-3282399711.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kgl_test['Fare'].fillna(kgl_test['Fare'].mode()[0], inplace=True)

#### Preparing X and Y variables

In [ ]:
kgl_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B57 B59 B63 B66,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B57 B59 B63 B66,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B57 B59 B63 B66,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B57 B59 B63 B66,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B57 B59 B63 B66,S

In [ ]:
X = df.drop(columns=['Survived','PassengerId','Name'],axis=1)
kgl = kgl_test.drop(columns=['PassengerId','Name'],axis=1)
print(X.columns)
print(kgl.columns)

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin',
       'Embarked'],
      dtype='object')
Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin',
       'Embarked'],
      dtype='object')

In [ ]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
y = df['Survived']

In [ ]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
# # Create Column Transformer with 3 types of transformers
# # Drop the 'Survived' column before defining features for preprocessing

# X_processed =X
# num_features = X_processed.select_dtypes(exclude="object").columns
# cat_features = X_processed.select_dtypes(include="object").columns
# print(num_features)
# print(cat_features)

# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from sklearn.compose import ColumnTransformer

# numeric_transformer = StandardScaler()
# oh_transformer = OneHotEncoder()

# preprocessor = ColumnTransformer(
#     [
#         ("OneHotEncoder", oh_transformer, cat_features),
#          ("StandardScaler", numeric_transformer, num_features),
#     ],
#     remainder='passthrough' # Keep other columns that are not transformed
# )

# X = preprocessor.fit_transform(X_processed)
# kg = preprocessor.transform(kgl)



# Drop non-useful ID-like columns

# kgl_processed = kgl.drop(columns=drop_cols, errors="ignore")
X_processed=X
# Identify features
num_features = X_processed.select_dtypes(exclude="object").columns
cat_features = X_processed.select_dtypes(include="object").columns
print(num_features)
print(cat_features)
# Transformers
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features),
    ],
    remainder='passthrough'
)

# Fit on train, transform both
X = preprocessor.fit_transform(X_processed)
kg = preprocessor.transform(kgl)

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
Index(['Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

NameError: name 'StandardScaler' is not defined

PROCESSING THE KGL TEST DATASET

In [ ]:
# X_processed.isnull().sum()

In [ ]:
print(X.shape)
print(kg.shape)

In [ ]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

#### Create an Evaluate Function to give all metrics after model Training

In [ ]:

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

def evaluate_classification(y_true, y_pred, y_prob=None):
    acc = accuracy_score(y_true, y_pred)
    prec = precision_score(y_true, y_pred)
    rec = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)
    auc = roc_auc_score(y_true, y_prob) if y_prob is not None else None
    return acc, prec, rec, f1, auc

In [ ]:
print(X_train.shape)   # (rows, columns)

In [ ]:
    model = RandomForestClassifier()
    my_model = model.fit(X_train, y_train)
    # Predictions
    y_train_pred = my_model.predict(X_train)
    y_test_pred = my_model.predict(X_test) # Corrected: predict on X_test
    print(y_test_pred)
    # Evaluate Train and Test dataset
    train_acc, train_prec, train_rec, train_f1, train_auc = evaluate_classification(y_train, y_train_pred)
    test_acc, test_prec, test_rec, test_f1, test_auc = evaluate_classification(y_test, y_test_pred) # Keep y_test_prob for AUC


    print("Training Performance:")
    print(f"- Accuracy: {train_acc:.4f}, Precision: {train_prec:.4f}, Recall: {train_rec:.4f}, F1: {train_f1:.4f}, AUC: {train_auc}")
    print("Test Performance:")
    print(f"- Accuracy: {test_acc:.4f}, Precision: {test_prec:.4f}, Recall: {test_rec:.4f}, F1: {test_f1:.4f}, AUC: {test_auc}")
    print("="*40)

    kaggal_predict=my_model.predict(kg)
    print(kaggal_predict)

In [ ]:
# final = pd.DataFrame({
#     "PassengerId": kgl_test["PassengerId"],   # from Kaggle test dataset
#     "Survived": kaggal_predict               # your model predictions
# })
# final.to_csv("submission.csv", index=False)
# final

### Results

Bar plot of Accuracy (or F1-Score)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# assuming your results DataFrame is named results_df
plt.figure(figsize=(8,5))
sns.barplot(x="Accuracy", y="Model Name", data=results_df, palette="viridis")
plt.title("Model Comparison by Accuracy", fontsize=14)
plt.xlabel("Accuracy")
plt.ylabel("Model")
plt.show()

Multiple metrics comparison (Accuracy, Precision, Recall, F1)

In [ ]:
metrics_df = results_df.melt(id_vars="Model Name",
                             value_vars=["Accuracy","Precision","Recall","F1-Score"],
                             var_name="Metric", value_name="Score")

plt.figure(figsize=(10,6))
sns.barplot(x="Model Name", y="Score", hue="Metric", data=metrics_df)
plt.title("Model Performance Comparison", fontsize=14)
plt.ylabel("Score")
plt.xticks(rotation=45)
plt.legend(loc="lower right")
plt.show()

ROC Curves (optional, but powerful)

In [ ]:
from sklearn.metrics import roc_curve, auc

plt.figure(figsize=(7,6))

for name, model in trained_models.items():  # dict {name: fitted_model}
    y_prob = model.predict_proba(X_test)[:,1]
    fpr, tpr, _ = roc_curve(y_test, y_prob)
    plt.plot(fpr, tpr, label=f"{name} (AUC={auc(fpr,tpr):.2f})")

plt.plot([0,1],[0,1],'k--')  # random baseline
plt.xlabel("False Positive Rate")
plt.ylabel("True Positive Rate")
plt.title("ROC Curves")
plt.legend()
plt.show()